.home{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100;
  }
  .home1{
    background-color: aqua;
    width: 20%;
    height: 100%;
  }
  .home2{
    width: 80%;
    background-color: #F8F8F8;
    height: 100%;
  }